.section {
  text-align: left;
}

.sectionTitle {
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray2);
  margin-bottom: 8px;
}

.itemList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
