.personaCard {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.personaCard:hover {
  transform: translateY(-5px);
}

.personaInfo {
  flex-grow: 1;
  margin-right: 20px;
}

.personaInfo h2 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
  color: var(--gray2);
}

.personaInfo p {
  margin: 0;
  color: var(--gray2);
}

.personaImage {
  width: 80px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid var(--gray4);
}
