#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.phone-screen-container {
  width: 25vw;
  height: 90vh;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--white);
  color: #333;
  border-radius: 20px;
  box-shadow: 0 4px 12px var(--primary-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  box-sizing: border-box;
}

.phone-screen-container > * {
  width: 100%;
}