:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-blue: #0067AC;
  --grad-blue1: #0078B9;
  --grad-blue2: #20C4F4;
  --secondary-blue1: #0040B3;
  --secondary-blue2: #3F7EF1;
  --black: #000000;
  --white: #FFFFFF;
  --gray1: #3C3C3C;
  --gray2: #585D66;
  --gray3: #404F5E;
  --gray4: #F7F7F8;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--gray2);
}